<section class="info">
  <div class="container">
    <div class="info-one">
      <h2 class="info-title">About Us</h2>
      <div class="info-wrap">
        <p class="info-wrap-text">
          Welcome to our premium watch collection, where luxury and style meet
          functionality and precision. Our selection of timepieces embodies the
          very best in Swiss craftsmanship and engineering, ensuring that you'll
          always have a reliable and stylish accessory on your wrist.
        </p>
        <p class="info-wrap-text">
          At our premium watch collection, we believe that a watch is more than
          just a timekeeping device - it's a statement piece that reflects your
          personality and style. So why settle for anything less than the best?
        </p>
      </div>
      <a href="#catalog" class="info-button-link">View catalog</a>
    </div>
    <div class="info-two">
      <picture>
        <source
          srcset="/img/about/about-img.webp 1x, /img/about/about-img-2x.webp 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /img/about/about-img-tab.webp    1x,
            /img/about/about-img-tab-2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/about/about-img-mob.webp    1x,
            /img/about/about-img-mob-2x.webp 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="info-two-img"
          src="/img/about/about-img-mob.webp"
          alt="wristwatch"
          width="704"
        />
      </picture>
    </div>
  </div>
</section>
