<section id="catalog" class="catalog">
    <div class="container">
        <h2 class="catalog-title">Catalog</h2>
        <ul class="catalog-list">
            <li class="catalog-item">
               
                    <picture>
                        <source srcset="
                        /img/catalog/fenix1xdesk.webp 1x ,
                     /img/catalog/fenix2xdesk.webp  2x "
                     media="(min-width: 1280px)" />
                        <source srcset="
                        /img/catalog/fenix1xtab.webp 1x,
                        /img/catalog/fenix2xtab.webp 2x
                    " media="(min-width: 768px)" />
                        <source srcset="
                        /img/catalog/fenix1xmob.webp 1x,
                        /img/catalog/fenix2xmob.webp 2x
                    " media="(max-width: 767px)" />
                    <img class="foto-fenix"
                    src="/img/catalog/fenix1xmob.webp"
                    alt="Garmin Fenix 7X Pro Sapphire Solar "
                    width="208"
                    height="226"
                    
                  /> 

                    </picture>
                
                <div class="product">
                    <h3 class="product-name">Garmin Fenix 7X Pro Sapphire Solar </h3>
                    <p class="price">€500</p>
               
            </li>
            <li class="catalog-item">
               
                    <picture>
                        <source srcset="
                       /img/catalog/marq1xdesk.webp 1x,
                       /img/catalog/marq2xdesk.webp 2x"
                        media="(min-width: 1280px)" />
                           <source srcset="
                           /img/catalog/marq1xtab.webp 1x,
                           /img/catalog/marq2xtab.webp 2x,
                       " media="(min-width: 768px)" />
                           <source srcset="
                           /img/catalog/marq1xmob/webp 1x,
                           /img/catalog/marq2xmob.webp 2x,
                       " media="(max-width: 767px)"/>

                       <img class="foto-marq"
                    src="/img/catalog/marq1xmob.webp"
                    alt="Garmin Marq Athlete"
                    width="208"
                    height="226"
                    />
                           
                    </picture>

                    
                    <div class="product">
                        <h3 class="product-name">Garmin Marq Athlete </h3>
                        <p class="price">€450</p>
            </li>
            <li class="catalog-item">
               
                    <picture>
                        <source srcset="
                       /img/catalog/descent1xdesk.webp 1x ,
                       /img/catalog/descent2xdesk.webp 2x
                       " media="(min-width: 1280px)" />
                           <source srcset="
                          /img/catalog/descent1xtab.webp 1x ,
                          /img/catalog/descent2xtab.webp 2x
                       " media="(min-width: 768px)" />
                           <source srcset="
                           /img/catalog/descent1xmob.webp 1x ,
                           /img/catalog/descent2xmob.webp 2x
                       " media="(max-width: 767px)" />
                       <img class="foto-descent"
                    src="/img/catalog/descent1xmob.webp"
                    alt="Garmin Descent MK1"
                    width="208"
                    height="226"
                    />
                    </picture>

                    <div class="product">
                        <h3 class="product-name">Garmin Descent MK1 </h3>
                        <p class="price">€680</p>
            </li>
            <li class="catalog-item">
               
                    <picture>
                        <source srcset="
                        /img/catalog/delta1xdesk.webp 1x ,
                        /img/catalog/delta2xdesk.webp 2x
                       " media="(min-width: 1280px)" />
                           <source srcset="
                           /img/catalog/delta1xtab.webp 1x ,
                           /img/catalog/delta2xtab.webp 2x
                       " media="(min-width: 768px)" />
                           <source srcset="
                           /img/catalog/delta1xmob.webp 1x ,
                           /img/catalog/delta2xmob.webp 2x
                       " media="(max-width: 767px)" />
                       <img class="foto-delta"
                       src="/img/catalog/delta1xmob.webp"
                       alt="Garmin D2 Delta PX"
                       width="208"
                       height="226"
                       />
                    </picture>

                    <div class="product">
                        <h3 class="product-name">Garmin D2 Delta PX </h3>
                        <p class="price">€380</p>
                        
                            <div class="button-catalog">
                                <button type="button" class="catalog-btn">
                                Show more</button>
                            </div>
                    </li>
                     <li class="catalog-item">
                
                    <picture>
                        <source srcset="
                        /img/catalog/solar1xdesk.webp 1x,
                        /img/catalog/solar2xdesk.webp 2x
                       " media="(min-width: 1280px)" />
                           <source srcset="
                           /img/catalog/solar1xtab.webp 1x ,
                        /img/catalog/solar2xtab.webp 2x
                       " media="(min-width: 768px)" />
                       <img class="foto-solar"
                       src="/img/catalog/solar1xtab.webp"
                       alt="Garmin Fenix 6 Pro Solar"
                       width="268"
                       height="292"
                       />
                    </picture>

                    <div class="product">
                        <h3 class="product-name">Garmin Fenix 6 Pro Solar</h3>
                        <p class="price">€400</p>
            </li>

            <li class="catalog-item">
                
                    <picture>
                        <source srcset="
                        /img/catalog/tube1xdesk.webp 1x ,
                        /img/catalog/tube2xdesk.webp 2x
                       " media="(min-width: 1280px)" />
                             <source srcset="
                           /img/catalog/tube1xtab.webp 1x,
                           /img/catalog/tube2xtab.webp 2x
                       " media="(min-width: 768px)" />
                       <img class="foto-tube"
                       src="/img/catalog/tube1xtab.webp"
                       alt="Tube Watch S42 Date Steel With Black Case"
                       width="268"
                       height="292"
                       />
                    </picture>
                    <div class="product">
                            <h3 class="product-name">Tube Watch S42 Date Steel W...</h3>
                            <p class="price">€395</p>
                    
            </li>
        </ul>
    </div>
</section>
