</section>
<section class="catalog">
    <div class="container">
        <h2 class="catalog">Catalog</h2>
        <ul class="catalog-list">
            <li class="catalog-item">
               
                    <picture>
                        <source srcset="
                    ../img/cat/webp/fenix1xdesk-min.png 1x
                     ../img/cat/webp/fenix2xdesk-min.png 2x
                    " media="(min-width: 1280px)" />
                        <source srcset="
                        ../img/cat/webp/fenix1xtab-min.png 1x,
                        ../img/cat/webp/fenix2xtab-min.png 2x
                    " media="(min-width: 768px)" />
                        <source srcset="
                        ../img/cat/webp/fenix1xmob-min.png 1x,
                        ../img/cat/webp/fenix2xmob-min.png 2x
                    " media="(max-width: 767px)" />
                        
                    </picture>
                
                <div class="product">
                    <h3 class="product-name">Garmin Fenix 7X Pro Sapphire Solar </h3>
                    <p class="price">€500</p>
               
            </li>
            <li class="catalog-item">
               
                    <picture>
                        <source srcset="
                        ../img/cat/webp/marq1xdesk-min.png 1x
                        ../img/cat/webp/marq2xdesk-min.png 2x
                       " media="(min-width: 1280px)" />
                           <source srcset="
                           ../img/cat/webp/marq1xtab-min.png 1x,
                           ../img/cat/webp/marq2xtab-min.png 2x
                       " media="(min-width: 768px)" />
                           <source srcset="
                           ../img/cat/webp/marq1xmob-min.png 1x,
                           ../img/cat/webp/marq2xmob-min.png 2x
                       " media="(max-width: 767px)" />
                           
                    </picture>

                    
                    <div class="product">
                        <h3 class="product-name">Garmin Marq Athlete </h3>
                        <p class="price">€450</p>
            </li>
            <li class="catalog-item">
               
                    <picture>
                        <source srcset="
                        ../img/cat/webp/descent1xdesk-min.png 1x
                        ../img/cat/webp/descent2xdesk-min.png 2x
                       " media="(min-width: 1280px)" />
                           <source srcset="
                           ../img/cat/webp/descent1xtab-min.png 1x,
                           ../img/cat/webp/descent2xtab-min.png 2x
                       " media="(min-width: 768px)" />
                           <source srcset="
                           ../img/cat/webp/descent1xmob-min.png 1x,
                           ../img/cat/webp/descent2xmob-min.png 2x
                       " media="(max-width: 767px)" />
                    </picture>

                    <div class="product">
                        <h3 class="product-name">Garmin Descent MK1 </h3>
                        <p class="price">€680</p>
            </li>
            <li class="catalog-item">
               
                    <picture>
                        <source srcset="
                        ../img/cat/webp/delta1xdesk-min.png 1x
                        ../img/cat/webp/delta2xdesk-min.png 2x
                       " media="(min-width: 1280px)" />
                           <source srcset="
                           ../img/cat/webp/delta1xtab-min.png 1x,
                           ../img/cat/webp/delta2xtab-min.png 2x
                       " media="(min-width: 768px)" />
                           <source srcset="
                           ../img/cat/webp/delta1xmob-min.png 1x,
                           ../img/cat/webp/delta2xmob-min.png 2x
                       " media="(max-width: 767px)" />
                    </picture>

                    <div class="product">
                        <h3 class="product-name">Garmin D2 Delta PX </h3>
                        <p class="price">€380</p>
            </li>
            <li class="catalog-item">
                
                    <picture>
                        <source srcset="
                        ../img/cat/webp/solar1xdesk-min.png 1x
                        ../img/cat/webp/solar2xdesk-min.png 2x
                       " media="(min-width: 1280px)" />
                           <source srcset="
                           ../img/cat/webp/solar1xtab-min.png 1x,
                           ../img/cat/webp/solar2xtab-min.png 2x
                       " media="(min-width: 768px)" />
                    </picture>

                    <div class="product">
                        <h3 class="product-name">Garmin Fenix 6 Pro Solar</h3>
                        <p class="price">€400</p>
            </li>

            <li class="catalog-item">
                
                    <picture>
                        <source srcset="
                        ../img/cat/webp/tube1xdesk-min.png 1x
                        ../img/cat/webp/tube2xdesk-min.png 2x
                       " media="(min-width: 1280px)" />
                           <source srcset="
                           ../img/cat/webp/tube1xtab-min.png 1x,
                           ../img/cat/webp/tube2xtab-min.png 2x
                       " media="(min-width: 768px)" />
                    </picture>

                    <div class="product">
                        <h3 class="product-name">Tube Watch S42 Date Steel With Black Case</h3>
                        <p class="price">€395</p>
            </li>
        </ul>
    </div>
</section>