<section class="hero">
  <div class="container hero-container">
    <div class="hero-tablet">
      <div class="hero-description">
        <h1 class="hero-title">
          Welcome to our <span class="hero-title-part">collection</span>
          of premium watches
        </h1>
        <p class="hero-text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="hero-icons">
        <div class="hero-icon-container">
          <ul class="hero-list">
            <li class="hero-list-icon first-icon">
              <picture>
                <source
                  srcset="
                    /img/people/blond-img.webp    1x,
                    /img/people/blond-img-2x.webp 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="/img/people/blond-img.webp"
                  alt="Victoria Romashenko"
                  width="44"
                  height="44"
                />
              </picture>
            </li>
            <li class="hero-list-icon">
              <picture>
                <source
                  srcset="
                    /img/people/men-img.webp    1x,
                    /img/people/men-img-2x.webp 2x
                  "
                />

                <img
                  src="/img/people/men-img.webp"
                  alt="John Wax"
                  width="44"
                  height="44"
                />
              </picture>
            </li>
            <li class="hero-list-icon">
              <picture>
                <source
                  srcset="
                    /img/people/brunette-img.webp    1x,
                    /img/people/brunette-img-2x.webp 2x
                  "
                />

                <img
                  src="/img/people/brunette-img.webp"
                  alt="Anastasia Trachuk"
                  width="44"
                  height="44"
                />
              </picture>
            </li>
          </ul>
        </div>
        <a href="#footerscroll" class="hero-icons-scroll"> Scroll down </a>
      </div>
    </div>

    <div class="hero-picture">
      <picture>
        <source
          srcset="/img/hero/hero-img.webp 1x, /img/hero/hero-img.webp 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /img/hero/hero-img-tab.webp    1x,
            /img/hero/hero-img-tab-2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/hero/hero-img-mob.webp    1x,
            /img/hero/hero-img-mob-2x.webp 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="/img/hero/hero-img.webp"
          alt="Premium Watch"
          width="1150"
          class="hero-picture-img"
        />
      </picture>
    </div>
  </div>
</section>
