<section class="sale">
  <div class="container">
    <h2 class="sale-titel">Sale</h2>
    <div class="sale-container">
      <div class="sale-container-narrow">
        <ul class="sale-list-images">
          <li class="sale-item-images">
            <div class="sale-container-images">
              <img
                srcset="
                  /img/sale/sale-img-1.webp    1x,
                  /img/sale/sale-img-1-2x.webp 2x
                "
                class="sale-images"
                src="../img/sale/sale-img-1.webp"
                alt="clock display: enable invisible mode"
                width="96"
                height="100"
              />
            </div>
          </li>
          <li class="sale-item-images">
            <div class="sale-container-images">
              <img
                srcset="
                  /img/sale/sale-img-2.webp    1x,
                  /img/sale/sale-img-2-2x.webp 2x
                "
                class="sale-images"
                src="../img/sale/sale-img-2.webp"
                alt="main clock display"
                width="96"
                height="100"
              />
            </div>
          </li>
          <li class="sale-item-images">
            <div class="sale-container-images">
              <img
                srcset="
                  /img/sale/sale-img-3.webp    1x,
                  /img/sale/sale-img-3-2x.webp 2x
                "
                class="sale-images"
                src="../img/sale/sale-img-3.webp"
                alt="clockwise view"
                width="96"
                height="100"
              />
            </div>
          </li>
          <li class="sale-item-images">
            <div class="sale-container-images">
              <img
                srcset="
                  /img/sale/sale-img-4.webp    1x,
                  /img/sale/sale-img-4-2x.webp 2x
                "
                class="sale-images"
                src="/img/sale/sale-img-4.webp"
                alt="back view of the watch"
                width="96"
                height="100"
              />
            </div>
          </li>
        </ul>
        <div class="sale-container-img">
          <img
            srcset="
              /img/sale/sale-img-5.webp    1x,
              /img/sale/sale-img-5-2x.webp 2x
            "
            class="sale-img"
            src="../img/sale/sale-img-5.webp"
            alt="Garmin MARQ Commander Gen 2 Carbon Edition"
            width="328"
            height="398"
          />
        </div>
      </div>
      <div class="sale-block">
        <p class="sale-text position">€1500</p>
        <p class="sale-text-name">MARQ® Commander (Gen 2) - Carbon Edition</p>
        <p class="sale-text-tag">Product tag: 706587</p>
        <div class="sale-box">
          <p class="sale-text border">€1500</p>
          <p class="sale-text-price">€3000</p>
        </div>
        <p class="sale-text-description">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="sale-list-text">
          <li class="sale-item-text"><p>Fused carbon fiber</p></li>
          <li class="sale-item-text"><p>Grade-5 Titanuim</p></li>
          <li class="sale-item-text"><p>Athlete</p></li>
          <li class="sale-item-text"><p>Golfer</p></li>
          <li class="sale-item-text"><p>Commander</p></li>
          <li class="sale-item-text"><p>Adventurer</p></li>
        </ul>
      </div>
    </div>
  </div>
</section>
