.info {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
}

.info-one {
  padding: 40px 20px;
  border-radius: 30px;
  max-width: 335px;
  width: 100%;
  background-color: #f3f3f3;
  margin-bottom: 20px;
}

.info-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 28px;
}

.info-wrap {
  margin-bottom: 40px;
}

.info-wrap-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 20px;
}

.info-button-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  color: #fbfbfb;
  border-radius: 16px;
  background-color: #3350e9;
  min-width: 160px;
  padding: 15px 0;
  cursor: pointer;
  display: inline-block;
  border: none;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info-button-link:hover,
.info-button-link:focus {
  background-color: #1f3cd4;
}

.info-two {
  display: block;
  /* width: 100%; */
}

.info-two-img {
  background: rgba(12, 12, 12, 0.2);
  width: 100%;
  height: auto;
  border-radius: 50px;
}

@media only screen and (min-width: 768px) {
  .info {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .info-one {
    padding: 80px 60px;
    border-radius: 50px;
    max-width: 704px;
    background-color: #f3f3f3;
    margin-bottom: 40px;
  }
  .info-title {
    font-size: 48px;
    line-height: 0.92;
    margin-bottom: 40px;
  }
  .info-wrap {
    margin-bottom: 60px;
  }
  .info-wrap-text {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 20px;
  }
  .info-two {
    max-width: 704px;
  }
}

@media only screen and (min-width: 1280px) {
  .info {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }

  .info-one {
    min-width: 580px;
    margin-bottom: 0;
  }

  .info-wrap {
    margin-bottom: 40px;
  }
  .info-two {
    min-width: 530px;
    max-width: 530px;
  }
}
