.contact-us-container {
    padding: 0px 20px;
    height: 1100px;
}
.title-contact-us {
font-weight: 600;
font-size: 32px;
line-height: 1;
letter-spacing: -0.02em;
color: #0c0c0c;
margin-bottom: 24px;
}
.form-contact-us {
    border-radius: 30px;
    padding: 48px 28px;
    width: 335px;
    min-height: 512px;
    background-color:#f3f3f3;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 28px
}
.subtitle-contact-us {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
}

.form-input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 18px;
    border: 1px solid rgba(12, 12, 12, 0.15);
    border-radius: 12px;
    padding: 12px 14px;
    width: 279px;
    height: 42px;
    background-color: transparent;
    margin-bottom: 18px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
}

.form-input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    color: #0c0c0c;
    }

.form-input:hover, .form-input:focus {
border-color: #3350e9;
}

.contact-us-textarea {
    border: 1px solid rgba(12, 12, 12, 0.15);
    border-radius: 12px;
    padding: 12px 136px 54px 14px;
    width: 100%;
    margin-bottom: 28px;
    background-color: transparent;
    resize: none;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}
.contact-us-textarea::placeholder {
font-weight: 400;
font-size: 14px;
line-height: 1.29;
color: #0c0c0c;
}
.contact-us-textarea:hover, .contact-us-textarea:focus {
border-color:#3350e9;
}

.contact-us-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border-radius: 16px;
    padding: 12px 50px;
    min-width: 134px;
    height: 42px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #fbfbfb;
    background-color: #3350e9;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    }
.contact-us-btn:hover, .contact-us-btn:focus {
background-color: #1f3cd4;
}
/*tablet-contact*/
@media screen and (min-width: 768px) {
.contact-us-container{
    padding: 0px 32px;
    min-height: 1236px;
}  
 .title-contact-us {
    font-size: 48px;
    line-height: 0.9;
    margin-bottom: 40px;
 }  
 .form-contact-us {
    border-radius: 50px;
    padding: 50px 122px;
    width: 704px;
    min-height: 556px;
    gap: 10px;
    margin-bottom: 40px;

 }
.subtitle-contact-us {
    font-size: 16px;
    line-height: 1.25;
}
.form-input {
    gap: 18px;
    padding: 16px 18px;
    width: 460px;
    height: 52px;
    font-size: 16px;
    line-height: 1.25;
}
.contact-us-btn {
    min-width: 160px;
    height: 52px;
    padding: 17px 63px;
}
}
@media screen and (min-width: 1280px) {
.contact-us-container {
    padding: 0px 65px;
    min-width: 1280px;
    height: 640px;
}
.contact-us-desktop {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
    width: 1150px;
    height: 556px;
}
.form-contact-us {
width: 580px;
gap: 32px;
padding: 50px 60px;
margin-bottom: 0;
}
}