.hero {
    
}

.hero-container {
    padding: 60px 20px 30px 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.hero-tablet {
    margin-bottom: 28px;
}

.hero-description {
    margin-bottom: 28px;
}

.hero-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 0.95;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 20px;
}

.hero-title-part {
    color: #3350e9;
}

.hero-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
    margin-bottom: 28px;
}

.hero-icons {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.hero-list {
    display: flex;

}

.hero-list-icon {
    border-radius: 100%;
    stroke-width: 2px;
    stroke: #fbfbfb;
    overflow: hidden;
    width: 44px;
    height: 44px;
    position: relative;
    margin-left: -12px;

}

.hero-list-icon.first-icon {
    margin-left: 0;
}

.hero-icons-scroll {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #0c0c0c;
}

.hero-icons-scroll:hover,
.hero-icons-scroll:focus {
    color: #3350e9;
}

.hero-picture-img {
    background: rgba(12, 12, 12, 0.2);
    border-radius: 30px;
}

@media screen and (min-width: 768px) {
    .hero-container {
        flex-direction: column;
        padding: 80px 32px 40px 32px;
    }

    .hero-tablet {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 11px;
        width: 704px;
        height: 260px;
        /*justify-content: space-between;*/
        margin-bottom: 40px;
    }

    .hero-description {
        flex-direction: column;
        gap: 20px;
        min-width: 557px;
        height: 260px;
    }

    .hero-icons {
        flex-direction: column;
        align-items: flex-end;
        gap: 180px;
        width: 136px;
    }

    .hero-title {
        font-size: 70px;
    }

    .hero-text {
        font-size: 14px;
        max-width: 480px;

    }

    .hero-icons-scroll {
        font-size: 20px;
        line-height: 1;
    }

    .hero-picture-img {
        border-radius: 50px;
    }
}

@media screen and (min-width: 1280px) {
    .hero-container {
        padding: 80px 65px 50px 65px;
        width: 1280px;
        height: 889px;
        margin-bottom: 50px;
    }

    .hero-tablet {
        /*display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;*/
        gap: 407px;
    }
        .hero-title {
            font-size: 72px;
        }
}