.menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background-image: url(../img/menu/menu-img-mob.webp);
   background-position: center center; 
   background-size: cover;
    background-color: #0c0c0c;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateX(100%);
    transition: all 0.3s ease;
}

@media screen and (min-resolution: 2dppx),
(min-resolution: 192dpi),
(-webkit-min-device-pixel-ratio: 2) {
    .menu {
        background-image: url(../img/menu/menu-img-mob-2x.webp);
    }
}

.menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
}

.container.menu-container {
    max-width: 200px;
    min-width: 200px;
}

.menu-container {
    position: relative;
    padding-top: 240px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.menu-close {
    position: fixed;
    top: 20px;
    right: 20px;
    justify-content: center;
    display: flex;
    width: 36px;
    height: 36px;
    align-items: center;
    cursor: pointer;
    padding: 0;
    background-color: unset;
    border: none;
}
.menu-icon-close {
    stroke-width: 2.50px;
    stroke: #fbfbfb;
}

.menu-nav {
    margin-bottom: auto;
}

.menu-item {
    margin-bottom: 24px;
    text-align: center;
}
.menu-item:last-child {
    margin-bottom: 0;
}
.menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    text-align: center;
    color: #fbfbfb;
    font-family: "Gilroy", sans-serif;

}
.menu-link.current {
    position: relative;
}

.menu-link.current::after {
    border-radius: 100%;
    content: '';
    position: absolute;
    left: 15px;
    bottom: -7px;
    width: 8px;
    height: 8px;
    background-color: #3350e9;
margin-top: 2px;
}

.menu-social {
    display: flex;
}

.menu-social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.icon-social {
    border: 1px solid rgba(251, 251, 251, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 34px;
    height: 34px;    
    fill: #fbfbfb;
}
.icon-social:hover, .icon-social:focus {
    color: #fff;
}

.social-link {
    display: flex;
}

@media screen and (min-width: 768px) {
    .menu {
max-width: 330px;
background-image: url(../img/menu/menu-img-tab.webp)
    }

@media screen and (min-resolution: 2dppx),
(min-resolution: 192dpi),
(-webkit-min-device-pixel-ratio: 2) {
    .menu {
        background-image: url(../img/menu/menu-img-tab-2x.webp);
    }
}

 .container.menu-container {
    max-width: 330px;
    min-width: 330px;
}

.menu-container {
    padding-top: 310px;
    padding-bottom: 50px;
}

.menu-close {
top: 26px;
right: 32px;
width: 40px;
height: 40px;
}

.menu-item {
    margin-bottom: 32px;
}
.icon-social {
    width: 36px;
    height: 36px;

}
}

@media screen and (min-width: 1280px) {
    .menu {
        display: none;
    }
}