.sale {
  padding-top: 30px;
  padding-bottom: 30px;
}

.sale-titel {
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
}

.sale-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.sale-list-images {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}

.sale-item-images {
  flex-basis: calc((100% - 3 * 5px) / 4);
}

.sale-container-images {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 16px;
  padding: 13px 14px;
  background-color: #f3f3f3;
}

.sale-container-img {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  width: 100%;
  height: 385px;
  background-color: #f3f3f3;
  padding: 50px;
}

.sale-block {
  border-radius: 30px;
  width: 100%;
  height: 561px;
  padding: 48px 28px;
  background-color: #3350e9;
  position: relative;
}

.sale-text {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}
.position {
  position: absolute;
  top: 8px;
  left: 12px;
}

.sale-text-name {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 10px;
}

.sale-text-tag {
  font-family: 'Gilroy', sans-serif;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  margin-bottom: 20px;
}

.sale-box {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}

.border {
  display: block;
  border-radius: 8px;
  background: rgba(251, 251, 251, 0.1);
  padding: 8px 12px;
  margin-right: 9px;
}

.sale-text-price {
  font-family: 'Gilroy', sans-serif;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  text-decoration: line-through;
  color: rgba(251, 251, 251, 0.5);
}

.sale-text-description {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.7);
  max-width: 279px;
  margin-bottom: 28px;
}

.sale-list-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
}

.sale-item-text {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  color: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 8px;
  padding: 8px 12px;
}

@media screen and (min-width: 768px) {
  .sale {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .sale-titel {
    font-size: 48px;
    line-height: 92%;
    margin-bottom: 40px;
  }

  .sale-container {
    row-gap: 40px;
  }

  .sale-container-narrow {
    display: flex;
    flex-direction: row;
  }

  .sale-list-images {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 0;
    margin-right: 20px;
  }

  .sale-item-images {
    width: 132px;
  }

  .sale-container-images {
    border-radius: 20px;
    padding: 16px 18px;
  }

  .sale-container-img {
    border-radius: 50px;
    height: 558px;
    padding: 80px 112px;
  }

  .sale-block {
    border-radius: 50px;
    height: 518px;
    padding: 60px;
  }

  .sale-text {
    font-size: 20px;
    line-height: 100%;
  }

  .position {
    display: none;
  }

  .sale-text-name {
    font-size: 32px;
    line-height: 112%;
  }

  .sale-box {
    margin-bottom: 30px;
  }

  .sale-text-description {
    font-size: 16px;
    line-height: 125%;
    max-width: 584px;
    margin-bottom: 40px;
  }

  .sale-list-text {
    justify-content: flex-start;
    max-width: 398px;
  }
}

@media screen and (min-width: 1280px) {
  .sale {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .sale-container {
    flex-direction: row;
  }

  .sale-container-narrow {
    margin-right: 40px;
  }

  .sale-container-img {
    max-width: 428px;
    max-height: 558px;
    padding: 50px 80px;
  }

  .sale-block {
    max-width: 530px;
    max-height: 558px;
  }

  .sale-text-description {
    max-width: 410px;
  }
}
